html, body {
    padding: 0;
	margin: 0;
	height: 100%;
}
body {
	font: 11pt sans-serif;
	box-sizing: border-box;
	overflow: hidden;
	background: white;
}
/* */
#main {
	width: 100%;
	height: 100vh;
	display: flex;
}
#main > div {
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
#splitter-td {
	border-right: 1px solid;
	border-left: 1px solid;
	border-color: #BCBBBC;
	background: #f2f2f2;
	width: 5px;
	cursor: e-resize;
}
#main #editor-td {
	flex-grow: 1;
	padding: 0px;
}

/* */
.chrome-tabs {
	border-radius: 0;
	height: 36px;
	padding-top: 4px;
	-webkit-user-select: none;
}
.chrome-tabs::before {
	content: "";
	display: block;
	position: absolute;
	left: 2px; top: 8px; right: 2px; bottom: 2px;
	-webkit-app-region: drag;
}
.chrome-tabs .chrome-tab-title {
	max-width: calc(100% - 4em);
}
.chrome-tabs .chrome-tab-title-text {
	float: right;
}
.chrome-tabs .chrome-tab, #preferences-button, .system-button {
	-webkit-app-region: no-drag;
}
#tabs.chrome-tabs {
	padding-right: 108px;
}
.system-button {
	width: 36px;
	height: 28px;
	position: absolute;
	right: 0; top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.system-button.maximize {
	right: 36px;
}
.system-button.minimize {
	right: 72px;
}
.system-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.system-button:active {
	background-color: rgba(0, 0, 0, 0.2);
}
.system-button.close:hover {
	background-color: rgba(250, 80, 80, 0.9);
}
.system-button.close:active {
	background-color: rgba(250, 80, 80, 1.0);
}
.system-button.close:hover svg polygon {
	fill: white;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
	/*transition: fill ease-in-out 0.1s;*/
}
.chrome-tabs .chrome-tab:not(.chrome-tab-current):hover .chrome-tab-background > svg .chrome-tab-background {
	fill: #d7d7d7;
}
.chrome-tab .chrome-tab-favicon {
	width: 0;
}
.chrome-tab-changed .chrome-tab-close::before,
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab.chrome-tab-changed .chrome-tab-close:not(:hover)::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><circle cx="7" cy="7" r="3.5" fill="#5198D9"/></svg>');
}
.project-name {
	line-height: 36px;
	padding-top: 0;
	position: relative;
}
#project-name {
	font-size: 14px;
	width: calc(100% - 28px);
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
}
/* */
.top, .bottom {
	width: 100%;
	box-sizing: border-box;
}
.top {
	height: 36px;
	margin-bottom: 1px;
	overflow: hidden;
}
.bottom {
	height: calc(100vh - 36px);
}
/* */
#source, #output, .ace_editor, .ace_status-bar {
	box-sizing: border-box;
	/*border: 1px solid #aaa;*/
}
#game, #game-fallback, .ace_editor {
	width: 100%;
	height: 100vh;
	margin: 0;
	resize: none;
}

