html, body {
    padding: 0;
	margin: 0;
	height: 100%;
}
body {
	font: 11pt sans-serif;
	box-sizing: border-box;
	overflow: hidden;
	background: white;
}
/* */
#main {
	width: 100%;
	height: 100vh;
	display: flex;
}
#main > div {
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
#splitter-td {
	border-right: 1px solid;
	border-left: 1px solid;
	border-color: #BCBBBC;
	background: #f2f2f2;
	width: 5px;
	cursor: e-resize;
}
#main #editor-td {
	flex-grow: 1;
	padding: 0px;
}

/* */
.chrome-tabs {
	border-radius: 0;
	height: 36px;
	padding-top: 4px;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
.chrome-tabs .chrome-tab, #preferences-button, .system-button {
	-webkit-app-region: no-drag;
}
#tabs.chrome-tabs {
	padding-right: 108px;
}
.system-button {
	width: 36px;
	height: 28px;
	position: absolute;
	right: 0; top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.system-button.maximize {
	right: 36px;
}
.system-button.minimize {
	right: 72px;
}
.system-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.system-button:active {
	background-color: rgba(0, 0, 0, 0.2);
}
.system-button.close:hover {
	background-color: rgba(250, 80, 80, 0.9);
}
.system-button.close:active {
	background-color: rgba(250, 80, 80, 1.0);
}
.system-button.close:hover svg polygon {
	fill: white;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
	/*transition: fill ease-in-out 0.1s;*/
}
.chrome-tabs .chrome-tab:not(.chrome-tab-current):hover .chrome-tab-background > svg .chrome-tab-background {
	fill: #d7d7d7;
}
.chrome-tab .chrome-tab-favicon {
	width: 0;
}
.chrome-tab-changed .chrome-tab-close::before,
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab.chrome-tab-changed .chrome-tab-close:not(:hover)::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><circle cx="7" cy="7" r="3.5" fill="#5198D9"/></svg>');
}
.project-name {
	line-height: 36px;
	padding-top: 0;
	position: relative;
}
#project-name {
	font-size: 14px;
	text-shadow: 0 1px 2px white;
}
.system-button
/* */
.top, .bottom {
	width: 100%;
	box-sizing: border-box;
}
.top {
	height: 36px;
	margin-bottom: 1px;
	overflow: hidden;
}
.bottom {
	height: calc(100vh - 36px);
}
/* */
#source, #output, .ace_editor, .ace_status-bar {
	box-sizing: border-box;
	/*border: 1px solid #aaa;*/
}
#game, #game-fallback, .ace_editor {
	width: 100%;
	height: 100vh;
	margin: 0;
	resize: none;
}
/* */
/*#preferences-button {
	position: absolute;
	right: 4px; top: 0; bottom: 0;
	margin: auto 0;
	width: 16px;
	height: 20px;
	cursor: pointer;
	background-image: url(preferences-button.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	opacity: 0.7;
}*/
#preferences-button:hover {
	opacity: 1.0;
}
#main #preferences-window {
	position: absolute;
	right: 20px;
	top: 40px;
	bottom: 40px;
	width: 200px;
	background: #fdfdfd;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #999;
	z-index: 1000;
	overflow-y: auto;
	padding: 4px;
}
#main #preferences-window div {
	margin-top: 4px;
}
#main #preferences-window fieldset {
	border: 1px solid #999;
	padding: 4px;
	-webkit-padding-before: 0;
}
#main #preferences-window input[type="radio"],
#main #preferences-window input[type="checkbox"] {
	margin: 0;
	vertical-align: bottom;
	margin-right: 2px;
}
#main #preferences-window input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}
/* */
.ace_closeButton {
	display: none;
}
html #ace_settingsmenu {
	top: 36px;
}
#ace_settingsmenu div[contains="setMode"],
#ace_settingsmenu div[contains="setTheme"] {
	display: none;
}
