html, body {
    padding: 0;
	margin: 0;
	height: 100%;
}
body {
	font: 11pt sans-serif;
	box-sizing: border-box;
	overflow: hidden;
	background: white;
}
/* */
#main {
	width: 100%;
	height: 100vh;
	display: flex;
	--main-height: calc(100% - 36px);
	--main-height-vh: calc(100vh - 36px);
}
#main > div {
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
#splitter-td, .splitter-td {
	border-right: 1px solid;
	border-left: 1px solid;
	border-color: #BCBBBC;
	background: #f2f2f2;
	width: 5px;
	flex: 0 0 5px;
	cursor: e-resize;
}
#main #editor-td {
	flex-grow: 1;
	padding: 0px;
}
#main #editor-td .bottom {
	display: flex;
}
#main #editor-td .bottom > .tabview {
	flex-grow: 1;
	position: relative;
}
.resinfo {
	padding: 0.5em;
	box-sizing: border-box;
}

.resinfo.sprite {
	display: flex;
	flex-direction: column;
	height: var(--main-height);
	height: var(--main-height-vh);
	padding: 0;
	outline: 0 solid transparent;
}
.resinfo.sprite .sprite-info {
	display: flex;
	width: var(--main-width);
}
.resinfo.sprite .sprite-info-text {
	padding: 0.3em;
	min-width: 7em;
}
.resinfo.sprite .sprite-info-text input {
	vertical-align: middle;
}
.resinfo.sprite .frames {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: 0;
	flex-grow: 1;
}
.resinfo.sprite .frame {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #6A86B7;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 2px;
	position: relative;
	font-size: 10px;
}
.resinfo.sprite .frame.current:after {
	content: attr(title);
	left: 0; bottom: 0;
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	padding: 1px 2px;
}
.resinfo.sprite input.error {
	outline: 2px solid red;
}
.resinfo.sprite .frame.current {
	outline: 2px solid red;
}
.resinfo.sprite .panner {
	flex-grow: 1;
}

.panner {
	overflow: hidden;
	outline: 0 solid transparent;
	cursor: move;
	width: 100%;
	position: relative;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABCSURBVFhH7c4hEQAgEABB2lGCBMRAUIl4T4E3zAvMijOntvWxotLcpxQAAAAAAADAf0A2X8pQLwEAAAAAAAB8Bqy4mHeUiBSSWmgAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==);
}
.panner img {
	transform-origin: left top 0px;
	position: absolute;
	pointer-events: none;
}
.panner.zoomed img, .resinfo.sprite .frame.zoomed {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}
.panner::after {
	content: attr(data-zoom);
	color: white;
	display: inline-block;
	padding: 1px 2px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}

#game-td .chrome-tabs {
	padding-bottom: 9px;
	padding-left: 4px;
}
#game-td .chrome-tabs input,
#game-td .chrome-tabs select {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	border: 1px solid #aaa;
	padding: 1px 5px;
	vertical-align: middle;
}
#game-td .chrome-tabs input[type="button"] {
	background: #f0f0f0;
}
#game-td .chrome-tabs input[type="button"]:hover {
	background: #fff;
}
#game-td .chrome-tabs select {
	background-color: white;
	background-position: center right 6px;
	background-image: url(data:image/bmp;base64,Qk1mAAAAAAAAADYAAAAoAAAABQAAAAMAAAABABgAAAAAAAAAAADDDgAAww4AAAAAAAAAAAAA////////AAAA/////////////wAAAAAAAAAAAP////8AAAAAAAAAAAAAAAAAAAD/);
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 16px;
}
#main.resizing #game {
	pointer-events: none;
}

.lw_modal > * {
	z-index: 100;
}
.lw_modal .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	height: 100vh;
	left: 0; top: 0; right: 0; bottom: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.6);
}
.lw_modal .window {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 0; top: 0; right: 0; bottom: 0;
	margin: auto;
	background: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	padding: 10px;
	line-height: 20px;
	overflow: hidden;
	resize: both;
}
#lw_prompt .window {
	height: 85px;
	resize: horizontal;
}
.lw_modal textarea {
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 20px);
	resize: none;
}
#lw_prompt input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
}
#lw_prompt .buttons {
	text-align: right;
}

/* */
.chrome-tabs {
	border-radius: 0;
	height: 36px;
	padding-top: 4px;
	-webkit-user-select: none;
	z-index: 7;
}
#app:not(.app-browser) .chrome-tabs::before {
	content: "";
	display: block;
	position: absolute;
	left: 2px; top: 8px; right: 2px; bottom: 2px;
	-webkit-app-region: drag;
}
.chrome-tabs .chrome-tab-title {
	max-width: calc(100% - 4em);
}
.chrome-tabs .chrome-tab-title-text {
	float: right;
}
.chrome-tabs .chrome-tab, .system-button, .chrome-tabs .lw-controls {
	-webkit-app-region: no-drag;
}
#app:not(.app-browser) .chrome-tabs.has-lw-buttons::before {
	left: 230px;
}
#tabs.chrome-tabs.has-system-buttons {
	padding-right: 108px;
}
.system-button {
	width: 36px;
	height: 28px;
	position: absolute;
	right: 0; top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.system-button.maximize {
	right: 36px;
}
.system-button.minimize {
	right: 72px;
}
.system-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.system-button:active {
	background-color: rgba(0, 0, 0, 0.2);
}
.system-button.close:hover {
	background-color: rgba(250, 80, 80, 0.9);
}
.system-button.close:active {
	background-color: rgba(250, 80, 80, 1.0);
}
.system-button.close:hover svg polygon {
	fill: white;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
	/*transition: fill ease-in-out 0.1s;*/
}
.chrome-tabs .chrome-tab:not(.chrome-tab-current):hover .chrome-tab-background > svg .chrome-tab-background {
	fill: #d7d7d7;
}
.chrome-tab .chrome-tab-favicon {
	width: 0;
}
.chrome-tab-changed .chrome-tab-close::before,
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab.chrome-tab-changed .chrome-tab-close:not(:hover)::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><circle cx="7" cy="7" r="3.5" fill="#5198D9"/></svg>');
}
.chrome-tabs-hint {
	position: absolute;
	top: 36px;
	display: none;
	z-index: 1000;
	color: white;
	background: rgba(0,0,0,0.7);
	padding: 1px 4px;
	border-radius: 2px;
	pointer-events: none;
}
.chrome-tabs-hint:before {
	position: absolute;
	left: calc(50% - 4px);
	top: -8px;
	content: "";
	border: 4px solid transparent;
	border-bottom-color: rgba(0,0,0,0.7);
}

.project-name {
	line-height: 36px;
	padding-top: 0;
	position: relative;
}
#project-name {
	font-size: 14px;
	width: calc(100% - 28px);
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
}
/* */
.top, .bottom {
	width: 100%;
	box-sizing: border-box;
}
.top {
	height: 36px;
	margin-bottom: 1px;
	overflow: hidden;
}
.bottom {
	height: calc(100vh - 36px);
}
/* */
#source, #output, .ace_editor, .ace_status-bar {
	box-sizing: border-box;
	/*border: 1px solid #aaa;*/
}
#game, #game-fallback, .ace_editor {
	width: 100%;
	height: 100vh;
	margin: 0;
	resize: none;
}
#game {
	height: calc(100% - 36px);
	height: calc(100vh - 36px);
	height: var(--main-height);
	height: var(--main-height-vh);
}
#misc-td {
	display: flex;
	flex-direction: column;
	position: relative;
}
#misc-select {
	width: 100%;
	border: 0;
	line-height: 1.5;
	height: 1.5em;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
}
#misc-panel {
	position: relative;
	flex-grow: 1;
	display: flex;
}
#misc-panel > div {
	flex-grow: 1;
}