.popout-window {
	position: absolute;
	background: #fdfdfd;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #999;
	z-index: 1000;
	overflow-y: auto;
	padding: 4px;
	box-sizing: border-box;
}
/* */

#global-lookup {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 480px;
	height: 272px;
	resize: both;
	display: flex;
}
#global-lookup .lookup-main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
#global-lookup .lookup-query {
	margin-bottom: 4px;
	display: flex;
}
#global-lookup .lookup-query > label[for="filter"] {
	margin-left: 6px;
	display: flex;
	align-items: center;
}
#global-lookup .lookup-main > select {
	flex-grow: 1;
	overflow-y: auto;
}
#global-lookup .lookup-options {
	margin-left: 4px;
	min-width: 100px;
}
#global-lookup .lookup-options > fieldset {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	box-sizing: border-box;
}
#global-lookup .lookup-options hr {
	width: 100%;
	margin: 0.3em 0;
}
/* */
.popout-center {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#global-search {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 520px;
	height: 170px;
	resize: horizontal;
	display: flex;
}
#global-search .search-main {
	flex-grow: 1;
	padding-right: 2px;
}
#global-search .search-options {
	margin: 0;
	width: 160px;
}
#global-search .search-options-2 {
	margin: 0;
	width: 120px;
}
#global-search .search-options fieldset {
	height: 100%;
	box-sizing: border-box;
}

#global-search-info {
	left: 0;
	right: 0;
	margin: auto;
	top: 40px;
	width: 8em;
	height: 1.25em;
	text-align: center;
	display: flex;
	box-sizing: content-box;
	line-height: 1.25;
}
#tag-editor {
	display: flex;
	flex-direction: column;
	resize: both;
	width: 360px;
	height: 360px;
	left: 0; top: 0; right: 0; bottom: 0;
	margin: auto;
}
#tag-editor label {
	padding-bottom: 2px;
}
#tag-editor textarea[name="tags"] {
	flex-grow: 1;
	resize: none;
	font-family: Consolas, monospace;
}
#tag-editor .tag-editor-controls {
	display: flex;
}
#tag-editor .tag-editor-controls span {
	flex-grow: 1;
}
/* */
#preferences-window {
	right: 20px;
	top: 40px;
	bottom: 40px;
	width: 224px;
	overflow-y: auto;
}
#preferences-window div.input label {
	overflow-x: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	white-space: nowrap;
}
#preferences-editor, .project-properties, #keybindings-editor {
	position: inherit;
	padding: 0.5em;
	padding-bottom: 1em;
	border: 0;
	box-shadow: none;
	z-index: inherit;
}

#preferences-editor fieldset + fieldset,
.project-properties fieldset + fieldset {
	margin-top: 0.5em;
}
#preferences-editor > fieldset + fieldset,
.project-properties > fieldset + fieldset {
	margin-top: 1em;
}
#preferences-editor fieldset,
.project-properties > fieldset {
	padding: 0.5em;
	padding-top: 0em;
}
#preferences-editor label[title],
.project-properties label[title],
#preferences-editor div[title] label,
.project-properties div[title] label {
	cursor: help;
}
/* */
.popout-window .plaintext {
	white-space: pre-wrap;
}
.popout-window div:not(:first-child) {
	margin-top: 4px;
}
.popout-window fieldset {
	border: 1px solid #999;
	padding: 4px;
	-webkit-padding-before: 0;
}
.popout-window hr {
	width: 100%;
	border: 0;
	border-top: 1px solid #999;
}
.popout-window fieldset.collapsed,
#preferences-editor fieldset.collapsed,
.project-properties > fieldset.collapsed {
	opacity: 0.7;
	padding-bottom: 3px;
}
.popout-window fieldset.collapsed > *:not(legend) {
	display: none;
}
.popout-window input[type="radio"],
.popout-window input[type="checkbox"] {
	margin: 0;
	vertical-align: bottom;
	margin-right: 2px;
}
.popout-window input[type="text"],
.popout-window select option {
	padding-left: 2px;
	position: relative;
}
.popout-window select option[hint]:after {
	content: attr(hint);
	position: absolute;
	right: 2px;
	font-size: 85%;
	bottom: calc(50% - 0.425em - 2px);
	background: #eee;
	color: #000;
    padding: 1px 3px;
}
.popout-window input[type="text"],
.popout-window select {
	width: 100%;
	box-sizing: border-box;
}
.popout-window input[type="text"].error {
	border-color: rgb(250, 50, 50);
}
.popout-window label.error {
	color: rgb(250, 50, 50);
}
.plugin-description:empty,
.plugin-settings:empty {
	margin: 0;
}
/* */
.ace_closeButton {
	display: none;
}
html #ace_settingsmenu {
	top: 36px;
}
#ace_settingsmenu div[contains="setMode"],
#ace_settingsmenu div[contains="setTheme"] {
	display: none;
}
.ace_goto {
	display: flex;
	flex-direction: column;
	resize: vertical;
}
.ace_goto_comp {
	width: 100%;
	flex-grow: 1;
	margin-bottom: 4px;
}

.popout-menu {
	z-index: 1000;
	position: absolute;
	border: 1px solid #BABABA;
	background: #fdfdfd;
	white-space: nowrap;
	color: black;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	list-style: none;
	margin: 0;
	padding: 2px 0;
	font: 9pt "Segoe UI", sans-serif;
}
.popout-menu li {
	padding: 4px 20px;
	padding-left: 34px;
	background-position: 8px center;
	background-repeat: no-repeat;
	cursor: default;
}
.popout-menu li[disabled] {
	color: #999;
}
.popout-menu .popout-menu-separator {
	background: #E9E9E9;
	height: 1px;
	padding: 0;
	margin: 5px 1px;
}
.popout-menu li:not([disabled]):not(.popout-menu-separator):hover {
	background-color: #EBEBEB;
}
.popout-menu .popout-menu-submenu {
	position: relative;
}
.popout-menu .popout-menu-submenu::after {
	content: "";
	border: 4px solid transparent;
	border-left-color: #626365;
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -4px;
	transform: scaleX(1.25);
	transform-origin: center;
}
.popout-menu .popout-menu-submenu > .popout-menu {
	position: absolute;
	left: 100%;
	top: -3px;
}
.popout-menu .popout-menu-submenu:not(:hover) > .popout-menu {
	display: none;
}

#keybindings-editor {
	padding: 0.5em;
	overflow: auto;
}
#keybindings-editor table {
	width: 100%;
}
#keybindings-editor input[type="text"] {
	width: 100%;
}
/*#keybindings-editor td:first-child {
	width: 33%;
}
#keybindings-editor td:last-child {
	width: 50%;
}
#keybindings-editor td:nth-child(2) {
	width: 0px;
}*/
#keybindings-editor thead td {
	font-size: 125%;
	border-bottom: 1px solid currentColor;
}
#keybindings-editor td[title] {
	text-decoration: underline dotted;
}