.popout-window {
	position: absolute;
	background: #fdfdfd;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #999;
	z-index: 1000;
	overflow-y: auto;
	padding: 4px;
	box-sizing: border-box;
}
/* */

#global-lookup {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 200px;
	resize: both;
	display: flex;
	flex-direction: column;
}
#global-lookup input {
	margin-bottom: 4px;
}
#global-lookup select {
	flex-grow: 1;
	overflow-y: auto;
}
/* */
#global-search {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 520px;
	height: 170px;
	resize: both;
	display: flex;
}
#global-search .search-main {
	flex-grow: 1;
	padding-right: 2px;
}
#global-search .search-options {
	margin: 0;
	width: 160px;
}
#global-search .search-options-2 {
	margin: 0;
	width: 120px;
}
#global-search .search-options fieldset {
	height: 100%;
	box-sizing: border-box;
}
/* */
#preferences-window {
	right: 20px;
	top: 40px;
	bottom: 40px;
	width: 224px;
	overflow-y: auto;
}
#preferences-window div.input label {
	overflow-x: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	white-space: nowrap;
}
/* */
.popout-window .plaintext {
	white-space: pre-wrap;
}
.popout-window div:not(:first-child) {
	margin-top: 4px;
}
.popout-window fieldset {
	border: 1px solid #999;
	padding: 4px;
	-webkit-padding-before: 0;
}
.popout-window input[type="radio"],
.popout-window input[type="checkbox"] {
	margin: 0;
	vertical-align: bottom;
	margin-right: 2px;
}
.popout-window input[type="text"],
.popout-window select option {
	padding-left: 2px;
}
.popout-window input[type="text"],
.popout-window select {
	width: 100%;
	box-sizing: border-box;
}
.popout-window input[type="text"].error {
	border-color: rgb(250, 50, 50);
}
/* */
.ace_closeButton {
	display: none;
}
html #ace_settingsmenu {
	top: 36px;
}
#ace_settingsmenu div[contains="setMode"],
#ace_settingsmenu div[contains="setTheme"] {
	display: none;
}

.popout-menu {
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #BABABA;
	background: #fdfdfd;
	white-space: nowrap;
	color: black;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	list-style: none;
	margin: 0;
	padding: 2px 0;
	font: 9pt "Segoe UI", sans-serif;
}
.popout-menu li {
	padding: 4px 20px;
	cursor: default;
}
.popout-menu li[disabled] {
	color: #999;
}
.popout-menu .popout-menu-separator {
	background: #E9E9E9;
	height: 1px;
	padding: 0;
	margin: 5px 1px;
}
.popout-menu li:not([disabled]):not(.popout-menu-separator):hover {
	background: #EBEBEB;
}
