.treeview {
	line-height: 1.35;
	overflow: auto;
}
.treeview .dir {
	
}
.treeview .dir .header,
.treeview .item,
.treeview .items {
	border-left: 2px solid #f3f3f3;
	user-select: none;
}
/*.treeview .items > div {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACAQMAAABWsa/UAAAAA1BMVEXz8/ML3eGLAAAACklEQVQI12MAAwAABgAB6AoqpAAAAABJRU5ErkJggg==') 0px 9px no-repeat;
}*/
.treeview .dir .header,
.treeview .item {
	display: block;
	outline: none;
	text-decoration: none;
	margin: 0;
	font-size: 13px;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	cursor: pointer;
	white-space: nowrap;
}
.treeview .dir > .header:before,
.treeview .item:before {
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	background: url(tree.png) no-repeat;
	margin-right: 2px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}
.treeview .dir > .header:before {
	background-position: -20px 0;
}
.treeview .dir.open > .header:before {
	background-position: -40px 0;
}
.treeview .header:hover,
.treeview .item:hover {
	border-left-color: #f3f3f3;
	background: #f3f3f3;
}
.treeview .dir:not(.open) > .items {
	display: none;
}
.treeview .items {
	padding-left: 9px;
}
.treeview > .dir > .header,
.treeview > .dir > .items {
	border-left: none;
}
