/bin/*
!/bin/resources
/bin/resources/app/app.js
/bin/resources/app/app.js.map
/bin/resources/default_app.asar
/bin/resources/electron.asar
/bin/resources/app/dist/*
/bin/resources/app/node_modules/*

/export/bin
/export/base
/art/*.png
/*.lnk
.DS_Store
/bin/resources/app/misc/gmcr.js
/bin/resources/app/misc/gml.js
/bin/resources/app/lw-app.js
/bin/resources/app/lw-app.js.map
/bin/resources/app/lw
/bin/resources/app/mini
/bin/resources/app/livejs*
/bin/resources/app/app-starter.js
/src/dump/decoding_error.txt
/tests/*/#backups
/tests/report/*
/tests/unittest_build/*
/tests/unittest/TestSuite.hx

/tests/unittest_node/node_modules/*
/tests/unittest_node/public/js_test.js
/art/media/x*.png