*.yy linguist-language=Game Maker Language

bin/resources/app/ace/src-noconflict/* linguist-vendored
bin/resources/app/ace/src-noconflict/ace.js linguist-vendored
bin/resources/app/chrome-tabs/* linguist-vendored
