/bin/*
!/bin/resources
/bin/resources/app/app.js
/bin/resources/default_app.asar
/bin/resources/electron.asar
/art/*.png
/*.lnk
.DS_Store
/bin/resources/app/misc/gmcr.js
/bin/resources/app/misc/gml.js
/bin/resources/app/lw-app.js
/bin/resources/app/lw
/bin/resources/app/livejs*
/bin/resources/app/app-starter.js
/src/dump/decoding_error.txt
