.chrome-tabs .chrome-tab-close {
  border-radius: 0px;
}

.chrome-tabs .chrome-tab-close:hover {
  background: #40444C;
}

#tabs > div.chrome-tabs-content > div.chrome-tab.chrome-tab-current > div.chrome-tab-background > svg {
  display: none;
}

#tabs > div.chrome-tabs-content > div.chrome-tab.chrome-tab-current > div.chrome-tab-background:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7px;
  right: 7px;
  background: #232323;
  border: 1px solid #009E59;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#tabs > div.chrome-tabs-content > div.chrome-tab.chrome-tab-current:not(:first-child):before {
  content: '';
  background: linear-gradient(to right, transparent, #017E4E);
  position: absolute;
  right: calc(100% - 7px);
  top: calc(100% - 1px);
  left: -50%;
  bottom: 0;
}

#tabs > div.chrome-tabs-content > div.chrome-tab.chrome-tab-current:not(:last-child):after {
  content: '';
  background: linear-gradient(to left, transparent, #017E4E);
  position: absolute;
  left: calc(100% - 7px);
  top: calc(100% - 1px);
  right: -50%;
  bottom: 0;
}

#tabs > div.chrome-tabs-content > div > div.chrome-tab-background > svg {
  display: none;
}

#tabs > div.chrome-tabs-content > div > div.chrome-tab-background:before {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 7px;
  right: 7px;
  background: #333334;
  border: 1px solid #181818;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#tabs > div.chrome-tabs-content > div > div.chrome-tab-title {
  color: #696969;
}

#tabs > div.chrome-tabs-content > div.chrome-tab.chrome-tab-current > div.chrome-tab-title {
  color: white;
}

.chrome-tabs.chrome-tabs-dark-theme {
  background: linear-gradient(to right, #181818, #00A385);
}

.project-name {
  background: #181818 !important;
}

.treeview .dir > .header:before, .treeview .item:before {
	background-image: url(tree.png);
}

#preferences-window {
	right: 0;
	top: 32px;
	bottom: 0;
	border: none;
	padding: 0 1em;
	padding-top: 40px;
	width: 248px;
	user-select: none;
	cursor: default;
}

#preferences-window:after {
	content: 'Preferences';
	position: absolute;
	top: 0;
	bottom: calc(100% - 32px);
	left: 0;
	right: 0;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0B9B80;
}

#preferences-window > div > div:nth-child(5) {
	margin-bottom: 1em;
}

#preferences-window fieldset {
	margin-bottom: 1em;
}

#preferences-window > div > div.select {
	margin-bottom: 1em;
}

#preferences-window > div > div:nth-child(9) {
	margin-top: 1em;
}

#preferences-window > div > div:nth-child(10) {
	margin-bottom: 1em;
}

#preferences-window input[type="checkbox"], #preferences-window input[type="radio"] {
	cursor: pointer;
	margin-right: 0.5em;
}

#preferences-window input[type="checkbox"]:checked, #preferences-window input[type="radio"]:checked {
	filter: hue-rotate(305deg);	
}

.popout-window a {
	color: #0B9B80;
	text-decoration: none;
}

.popout-window a:hover {
	text-decoration: underline;
}

#preferences-window .checkbox, #preferences-window label {
	cursor: pointer;
}

#preferences-window label {
	display: flex;
	align-items: center;
}

.popout-window fieldset {
	padding: 0.3em;
	padding-left: 0.5em;
	padding-bottom: 0.45em;
}

.popout-window fieldset br {
	display: none;
}
